
.hero {
    background-color: rgb(185, 255, 209);
    background-repeat: no-repeat;
    background-size: cover;
}

.desc {
	padding-left: 10%;
	padding-right: 10%;;
}

.hero.is-large .hero-body {
	padding: 10%;
	justify-content: center;
}


img {
    transition: all .2s ease-in-out; 
}
   
img:hover { 
   transform: scale(1.05); 
}

/* Front page gimmick: https://codepen.io/sxrdev/pen/LXMwPb */

  .wrapper {
	text-align: center;
  }
  
  .wrapper h1 {
	color: #fff;
	font-size: 500%;
	font-family: "ubuntu";
	text-transform: uppercase;
	font-weight: 700;
	font-family: "Josefin Sans", sans-serif;
	background: linear-gradient(to right, #e72ade 10%, #ffce8e 60%,  hsl(51, 98%, 63%) 20%, #e72ade);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 3s linear infinite;
	display: inline-block;
	transition: all .2s ease-in-out; 
	text-shadow: 
  5px 5px 1px hsl(240, 100%, 50%, .1); 
  }

  .wrapper h1:hover { 
	transform: scale(1.20); 
 }
  
  @keyframes textclip {
	to {
	  background-position: 150% center;
	}
  }
  

  .spotify-icon {
	  padding-right: 10px;
  }