
.hero {
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
}

.desc {
	padding-left: 10%;
	padding-right: 10%;;
}

.hero.is-large .hero-body {
	padding: 5%;
	justify-content: center;
}


.hero img {
    transition: all .2s ease-in-out; 
}
   
.hero img:hover { 
   transform: scale(1.05); 
}

/* Front page gimmick: https://codepen.io/sxrdev/pen/LXMwPb */

  .wrapper {
	text-align: center;
  }
  
  .wrapper h1 {
		margin-top: 10px;
		  color: #fff;
		  font-size: 500%;
		  text-transform: uppercase;
		  font-weight: 700;
		  font-family: "Josefin Sans", sans-serif;
		  background: linear-gradient(to right, #e72ade , #ff9e1f,  hsl(51, 100%, 59%), #e72ade);
		  background-size: auto auto;
		  background-clip: border-box;
		  background-size: 200% auto;
		  color: #fff;
		  background-clip: text;
		  text-fill-color: transparent;
		  -webkit-background-clip: text;
		  -webkit-text-fill-color: transparent;
		  animation: textclip 8s linear infinite;
		  display: inline-block;
		transition: all .5s ease-in-out; 
		text-shadow: 4px 4px 1px rgba(0, 255, 157, 0.671) !important; 
  }

  .wrapper h1:hover { 
	transform: scale(1.20); 
 }
  
  @keyframes textclip {
	to {
	  background-position: 150% center;
	}
  }
  

  .spotify-icon {
	  padding-right: 10px;
  }