/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    background-color: #eee;
  } */
  
  .grid-container {
    margin: 20px auto;
    width: 400px;
    height: 400px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 10px;
    grid-row-gap:10px;
  }
  .grid-container .grid-box {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 25px;
    font-family: Calibri;
    box-shadow:0 0 5px rgb(184, 184, 184);
  }
  
  .quiz {
    width: 75%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20px;
  }

  .grid-container button {
    width: auto;
    padding: 0;
    border: none;
    background: none;
    outline: none;
  }


  .result-section label {
    padding: 10px;
  }

  .result-section {
    padding: 20px;
  }

  .result-section .result-text.title{
    padding: 10px;
    margin: 0px;
  }

  .restart-btn {
    margin: 20px;
  }
  
  .cropped {
    width: 150px; /* width of container */
    height: 150px; /* height of container */
    overflow: hidden;

}

.cropped img {
    margin: 0px 0px 0px -180px;
}



  
