.nav-link {
 
        color: rgb(211, 211, 211);
        text-decoration: none;
}

.navbar-item-button:hover {
   background-color:rgb(125, 3, 196);
}

a.navbar-item navbar-item-button:hover {
  background-color: rgb(125, 3, 196);
}

.navbar-item-dropdown:hover {
    background-color:rgb(125, 3, 196);
 }

 .navbar-item-dropdown {
    background-color:rgb(86, 0, 136);
 }

 .btn-no-hover:hover {
    background-color: unset !important;
    color: unset !important;
 }

 .name-no-hover:hover {
  background-color: unset !important;
  color: unset !important;
 }



.navbar-burger.burger.is-active {
  margin: 0px;
}

nav.navbar.main-nav {
  padding: none !important;
}

.navbar{
    background-color: rgb(86, 0, 136);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0px;
    padding-bottom: 0px;
 
}

img {
    transition: all .2s ease-in-out; 
}
   
img:hover { 
   transform: scale(1.05); 
}

/* Front page gimmick: https://codepen.io/sxrdev/pen/LXMwPb */
.dash-logo h1  {
  text-align: center;
  margin-right: 10px;
  }

  
  .dash-logo h1 {
  margin-top: 10px;
	color: #fff;
	font-size: 175%;
	text-transform: uppercase;
	font-weight: 700;
	font-family: "Josefin Sans", sans-serif;
	background: linear-gradient(to right, #e72ade , #ff9e1f,  hsl(51, 100%, 59%), #e72ade);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 8s linear infinite;
	display: inline-block;
  transition: all .5s ease-in-out; 
  text-shadow: 
  2px 2px 1px rgba(2, 253, 157, 0.548); 
  }

  .dash-logo h1:hover { 
  transform: scale(1.07); 
  
 }
  
  @keyframes textclip {
	to {
    background-position: 150% center;
    
	}
  }
  

  .spotify-icon {
	  padding-right: 5px;
  }

  .navbar-menu a {
    color: white;
    text-shadow: .5px .5px .5px #000000;
    text-decoration: none;
  }

  