.nav-link {
 
        color: rgb(143, 143, 143);
        text-decoration: none;
 
}

a {
    
        color: rgb(143, 143, 143);
        text-decoration: none;
    
}

a:hover {
    color: rgb(143, 143, 143);
    text-decoration: none;
}

.navbar-item-button:hover {
   background-color:rgb(204, 252, 220); 
}

.navbar-item-dropdown:hover {
    background-color:rgb(204, 252, 220);
 }

 .navbar-item-dropdown {
    background-color:rgb(185, 255, 209);
 }

 .logout-btn {
     background-color: #ffce8e;
 }

 .btn-no-hover:hover {
    background-color: unset !important;
    color: unset !important;
 }

 .name-no-hover:hover {
  background-color: unset !important;
  color: unset !important;
} 

navbar-item btn-no-hover.active {

}

.navbar-burger.burger.is-active {
  margin: 0px;
}



.navbar {
    background-color: rgb(185, 255, 209);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 10px  rgb(179, 223, 194);
 
}

img {
    transition: all .2s ease-in-out; 
}
   
img:hover { 
   transform: scale(1.05); 
}

/* Front page gimmick: https://codepen.io/sxrdev/pen/LXMwPb */
  .dash-logo {
  text-align: center;
  
  }
  
  .dash-logo h1 {
  margin-top: 10px;
	color: #fff;
	font-size: 175%;
	text-transform: uppercase;
	font-weight: 700;
	font-family: "Josefin Sans", sans-serif;
	background: linear-gradient(to right, #e72ade , #fdaf4a,  hsl(51, 98%, 63%), #e72ade);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 8s linear infinite;
	display: inline-block;
  transition: all .5s ease-in-out; 
  text-shadow: 
  2px 2.5px 1px hsl(240, 100%, 50%, .2); 
  }

  .dash-logo h1:hover { 
  transform: scale(1.07); 
  
 }
  
  @keyframes textclip {
	to {
    background-position: 150% center;
    
	}
  }
  

  .spotify-icon {
	  padding-right: 10px;
  }


