.tiles {
    display: inline-block;
  margin: 0 auto;
  }
  
  .tile {
    width: calc(800px / 3);
    float: left;
    padding: 10px;
    margin: 10px;
  }

.caption {
  padding-top: 10px;
  }

.caption p, figure {
    margin-bottom: 0px;
}
