.audio-image {
    height: 450px;
    width: 450px;
    background-color: purple;
  }
  
  .audio-image img {
    object-fit: cover;
    object-position: 50% 0;
    width: 450px;
    height: 450px;
  }
  
  .audio-image button {
    max-height: 100%;
    max-width: 100%;
  }

#playlist-name {
    margin: auto;
}
