.right {
    float: right;
}

.vcenter {
    margin-top: auto;
    margin-bottom: auto;
}

.stats-profile-image img {
    margin: 20px;
    height: 175px;
    margin-left: auto;
    margin-right: auto;
}

