/*
This css file is here to add functionality and style elements that
were needed. You do not need to edit this file or use it in any way.
 */

html, body{
    height: 100%;
    font-size: 1.1em;
	background-color: #fafafa;
}

